ul {
    list-style: none;
    padding: 0;
}
body{
    background :url("bg.jpg")
}
p {
    color: #444;
}

input[type=text]{
    width:520px;
    height:50px;
}
.upload{
    width: 450px;
    font-size: 24px;
    margin-left: 30px;
}
button{
    background-color: #4abdac;
    width:70px;
    height:50px;
}
button:focus {
    outline: 0;
}
h3{
    font-family: Constantia;
}
.container {
    max-width: 700px;
    margin: 0 auto;
    padding-left: 50px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    background-color: aliceblue;
    opacity:0.9;
}

.container h1 {
    margin-bottom: 20px;
}

.page-description {
    font-size: 1.1rem;
    margin: 0 auto;
}

.tz-link {
    font-size: 1em;
    color: #1da7da;
    text-decoration: none;
}

.no-browser-support {
    display: none;
    font-size: 1.2rem;
    color: #e64427;
    margin-top: 35px;
}

.app {
    margin: 40px auto;
}
.input-group{

    width:700px;

}

#recording-instructions {
    margin: 15px auto 60px;
}

#notes {
    padding-top: 20px;
}

.note .header {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 10px;
}

.note .delete-note,
.note .listen-note {
    text-decoration: none;
    margin-left: 15px;
}

.note .content {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .container {
        padding: 50px 25px;
    }

    button {
        margin-bottom: 10px;
    }

}

.banner-section img{
    margin: 5px;
    height: 200px;
    width: 275px;
}

.banner-section{
    height: 500px;
    overflow: auto;
}




/* -- Demo ads -- */

@media (max-width: 1200px) {
    #bsaHolder{ display:none;}
}

.input-group-btn{
    background-color: #1da7da;
}